BasedOnStyle: Google
ColumnLimit: 88
AccessModifierOffset: 0
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
SpaceBeforeCtorInitializerColon: false
BreakBeforeBraces: Custom
BraceWrapping:
  IndentBraces: false
