DxLib_VC/

# VS2022 Cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

x64/
NOT_README.md
.vs/
Log.txt
